[data-type="logicx-view"] .view-content {
    margin: 0;
    padding: 0;

    display: grid;

    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;

    grid-template-areas:
        "toolbar    toolbar"
        "components surface";

    width: 100%;
    height: 100%;
}

.logicx-surface {
    grid-area: surface;

    width: 100%;
    height: 100%;
}

svg.logicx-surface svg:not(.logicx-surface) {
    overflow: visible
}

.logicx-surface {
    text {
        fill: var(--text-normal);
        dominant-baseline: hanging;
    }

    .logicx-component {
        --foreground: var(--text-normal);
        --primary: var(--background-primary-alt);
        --secondary: var(--background-secondary-alt);

        z-index: 2;
    }

    .logicx-component:hover:not(:has(.logicx-component-terminal:hover)) {
        --foreground: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    };

    .logicx-component-outline {
        stroke: var(--foreground);
        fill: var(--primary);
    }

    .logicx-component-terminal {
        stroke: var(--foreground);
        fill: var(--secondary);

        z-index: 3;
    }

    .logicx-component-terminal:hover {
        --foreground: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    }

    .logicx-wire {
        fill: none;
        stroke: var(--text-normal);

        z-index: 1;
    }
}